body {
    background-color: #565353;
    color: #e7e7e7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #5f8f57;
    border-bottom: 0.0625rem solid #23b92f;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a h1 {
    font-size: 1.5rem;
}

header nav a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

header a {
    color: #e7e7e7;
    margin-left: 1.875rem;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    color: #90d496;
}

#menu-toggle {
    display: none;
    font-size: 1.50rem;
    background: none;
    border: none;
    color: #e7e7e7;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 20;
}


/* main */
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    gap: 50px;
}

main h1 {
    text-align: center;
    color: #dddddd;
    font-size: 2rem;
    margin-bottom: 0.50rem;
}

main p {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

label {
    color: #75dd62;
}


/* Footer */
footer {
    padding: 1.25rem 2.5rem;
    background-color: #5f8f57;
    text-align: center;
    color: #dddddd;
    position: sticky;
    bottom: 0;
    z-index: 10;
    border-top: 0.0625rem solid #23b92f;
}

/* RESPONSIVIDADE */
@media (max-width: 580px) {

    body{
        overflow-x: hidden;
    }

    header{ 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header div {
        float: left;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 1rem;
        text-align: center !important;
        color: white;
    }

    nav a{
        flex-wrap: wrap;
        font-size: 0.90rem;
        text-align: center;
    }
    /* menu hamburguer */
    nav {
        display: none;
        flex-direction: column;
        background-color: #5f8f57;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
    }

    nav.ativo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        padding: 5px;
        background-color: #5f8f57;
        z-index: 10;

    }

    #menu-toggle {
        display: block;
    }

    /* main */
    main {
        display: flex;
        flex-wrap: wrap;
    }

    main h1 {
        font-size: 1.5rem;
        color: #dddddd;
    }

    main p {
        font-size: 1.1rem;
        padding: 0 1rem;
    }

    .container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    footer {
        font-size: 0.85rem;
        padding: 1rem;
    }
}